@model PlaceSite.Models.Cafe

@{
    ViewBag.Title = "CafeUpgrade";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Update Cafe Info</h2>
<br />
@using (Html.BeginForm("CafeUpdate", "AdminPanel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.CafeName);
    @Html.TextBoxFor(x => x.CafeName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adress);
    @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Status);
    @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Explanation);
    @Html.TextBoxFor(x => x.Explanation, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Location);
    @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
   
    <br />
    @Html.LabelFor(x => x.CoverImg);
    @Html.TextBoxFor(x => x.CoverImg, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning">Update</button>
}
