@using PlaceSite.Models;
@model List<Hotel>
@{
    ViewBag.Title = "HotelInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />

<table class="table table-bordered">
    <tr>
        <th>Hotel Name</th>
        <th>Adress</th>
        <th>Status</th>
        <th>Explanation</th>
       
        <th>Star</th>
        <th>Cover Img</th>

    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.HotelName</td>
            <td>@u.Adress</td>
            <td>@u.Status</td>
            <td>@u.Explanation</td>
            <td>@u.Star</td>
            <td>@u.CoverImg</td>
            <td> <a href="/AdminPanel/HotelDelete/@u.Id" class="btn btn-danger">Delete</a></td>
            <td> <a href="/AdminPanel/HotelUpgrade/@u.Id" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a href="/AdminPanel/HotelAdd/" class="btn btn-info">Add To Cafe</a>

